
<footer class="footer_container">
    <div class="footer-img">
        <%= image_tag("logo/info_img.jpeg", alt: "logo img")%>
    </div>
    <div class="footer-info">
        <p class="text">www.edilsviluppo.com</p>
        <p>Tel <span>324 6123960</span> &bull; <span>335 6562064</span></p>
    </div>
</footer>