
<h2 style="border-bottom:solid black 2px;">Message from Edilsviluppo.com</h2>
<h3 style="border-bottom:solid black 1px;">Email: <%=@name%></h3>
<h3 style="border-bottom:solid black 1px;">Last name: <%=@last_name%></h3>
<h3 style="border-bottom:solid black 1px;">Email: <%=@email%></h3>
<h3>Message:</h3>
<p style="background-color: rgba(231, 233, 233, 0.559); padding: 20px 5px;"><%=@message%></p>

