
<div class="form_container">
<h1><%= t("products.edit.edit_post") %></h1>
<%= render "form", post: @post %>
<div class="back_link_container">
  <%= link_to t("posts.new.back"), posts_path %>
</div>
</div>