<div class="form_container">
<h1><%= t(".edit_post") %></h1>
<%= render "form", product: @product %>
<div class="back_link_container">
  <%= link_to t("products.new.back"), products_path %>
</div>
</div>